body {
	font-size: 13px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .table tr.active td, .table tr.active th {
	text-shadow: 0 -1px 0 #286090;
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
	background-repeat: repeat-x;
}

.list-group-item {
	padding: 5px 10px;
	min-height: 32px;
}

.btn {
	font-size: inherit;
}

.dropdown-menu > li > a {
	font-size: 13px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover,
.navbar-nav > li.active > a, .navbar-nav > li.active > a:focus, .navbar-nav > li.active > a:hover {
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1) inset;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207ce5+0,499bea+100 */
	background: rgb(32,124,229); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(32,124,229,1) 0%, rgba(73,155,234,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(32,124,229,1) 0%,rgba(73,155,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(32,124,229,1) 0%,rgba(73,155,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea',GradientType=0 ); /* IE6-9 */
}

#storyBlock {
	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
	margin-bottom: 10px;
	color: inherit;
	display: none;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

pre {
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	font-family: inherit;
	font-size: inherit;
}

.comment {
	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	color: #8E8E8E;
}

.tab-pane {
	padding-top: 10px;
}

.left-menu > .tab-pane {
	padding-top: 0;
}

.left-menu > .tab-pane > .list-group > a {
	border-radius: 0;
}

.list-group {
	height: 800px;
	overflow-y: auto;
}

@media screen and (max-width: 750px) {
	.list-group {
		height: 400px;
	}
}

#questList {
	height: 125px;	
}

#dropData table > tbody > tr > th {
	font-weight: normal;	
}

#waveData table a {
	color: inherit;	
}

#expTab table {
	margin-bottom: 0;	
}

#weaponOther a.list-group-item {
	cursor: inherit;   /* 無法點選 */	
}

.row .col-sm-9 {
	display: none;
}

.progress {
	margin-bottom: 0;
	width: 100%;
	min-width: 200px;
}

.rarity {
	width: 20px;
	display: inline-block;
	text-align: right;
}

h3.name {
	margin-top: 0;
	padding: 8px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* Standard syntax (must be last) */
    border-left: 3px solid #ff6600;
	text-shadow: 1px 1px black;
}

.width50 {
	width: 50px;
}

.width100 {
	width: 100px;
}

.width150 {
	width: 150px;
}

.width200 {
	width: 200px;
}

.width100p {
	width: 100%;
}

.type-rune::after {
	content: '[材料]';
	color: #ff3333;
	margin-right: 5px;
}

.type-awaken::after {
	content: '[覺醒]';
	color: #ff99dd;
	margin-right: 5px;
}

.type-accessory::after {
	content: '[裝備]';
	color: #2196f3;
	margin-right: 5px;
}

.type-weapon::after {
	content: '[武器]';
	color: #ff8c1a;
	margin-right: 5px;
}

.type-unit::after {
	content: '[角色]';
	color: #00b33c;
	margin-right: 5px;
}

.type-icons::after {
	content: '[徽章]';
	color: #cc33ff;
	margin-right: 5px;
}

.type-skin::after {
	content: '[衣裝]';
	color: #2cbaa2;
	margin-right: 5px;
}

.m-boss::after {
	content: '[尾王]';
	color: #ff3333;
	margin-right: 5px;
}

.m-mid::after {
	content: '[小王]';
	color: darkorange;
	margin-right: 5px;
}

.m-zako::after {
	content: '[雜魚]';
	color: gray;
	margin-right: 5px;
}

.active > .m-boss::after,
.active > .m-mid::after,
.active > .m-zako::after {
	color: white;
}

.pct::after {
	content: '%';
}

a.list-group-item.not-yet {
	color: gray;
}

.empty-td {
	/*background-color: #ddd;*/
}

select, input[type=text] {
	font-weight: normal;
	background-color: transparent;
	border: 0;
	color: inherit;
	border-bottom: 1px solid;
}

input.readonly {
	border: 0;
	width: 50px;
}

kbd + kbd {
	margin-left: 5px;	
}

.elem-0 {
	background-color: rgb(128, 128, 128);
}

.elem-1, .debuff-4 {
	background-color: rgb(194, 68, 68);
}

.elem-2, .debuff-3 {
	background-color: rgb(27, 130, 176);
}

.elem-3, .debuff-5 {
	background-color: rgb(64, 142, 73);
}

.elem-4, .debuff-2 {
	background-color: rgb(104, 104, 40);
}

.elem-5, .debuff-1 {
	background-color: rgb(140, 57, 143);
}

.debuff-11 {
	background-color: rgb(38, 104, 134);
}

.table-scroll {
	max-height: 800px;
	overflow-y: auto;
}

.table-scroll > .table {
	margin-bottom: 0;
}

.table-fixed-width {
	width: auto;
	margin-bottom: 0;
}

.table-fixed-width > thead > tr > th:not(.expand-th) {
	width: 100px;
}

.table-sm-width > thead > tr > th:not(.expand-th) {
	width: 75px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 1px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover {
  border: none;
  color: #2196f3;
}
.nav-tabs > li.disabled > a {
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
}
.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > li > a:hover,
.nav-tabs.nav-justified > li > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: none;
}
.nav-tabs .dropdown-menu {
  margin-top: 0;
}

.nav > li > a {
	padding: 5px 10px;
}

.wood-box {
	color: rgb(181, 101, 41);
}

.iron-box {
	color: rgb(62, 136, 180);
}

.gold-box {
	color: rgb(141, 146, 43);
}

.duration {
	color: rgb(62, 136, 180);
}

.buff-name,
.monster-skill-name {
	/*margin: 0 5px;*/
	color: rgb(62, 136, 180);
}

.table tfoot > tr > td {
	border-top-width: 2px;	
}

.dataTables_filter input {
	font-size: inherit;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
	white-space: nowrap;	
}

.dataTables_filter > label {
	position: relative;
}

.dataTables_filter > label::before {
	display: block;
	width: 14px;
	height: 14px;
	content: "\e003";
	font-family: 'Glyphicons Halflings';
	background-position: -48px 0;
	position: absolute;
	top: 8px;
	left: 8px;
	opacity: .5;
	z-index: 1;
}

.dataTables_filter > label > input {
	padding-left: 22px;
	border-width: 0 0 1px 0;
	border-radius: 0;
	box-shadow: none !important;
	background-color: inherit;
	color: inherit;
	border-bottom-color: inherit;
}

a > i, button > i {
	vertical-align: middle;
	padding-left: 3px;
}

.progress-bar-wood {
	background-color: rgb(174, 105, 55);
}

.alert {
	padding: 5px 10px;
}

.well {
	border: 3px solid #555;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset, 0 0 5px rgba(0, 0, 0, 0.7);
}

.well-legend {
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0,0,0,0.15), rgba(0,0,0,0)); /* Standard syntax (must be last) */
	border: 0;
	padding: 5px 5px 5px 15px;
	font-size: 16px;
	font-weight: bold;
	margin-left: -20px;
	margin-bottom: 10px;
}

.well ul > li {
	margin-bottom: 5px;
}

.table > tbody > tr.active > *,
.table > tbody > tr.active a {
	color: white;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
	vertical-align: middle;
}

.table th {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#355258+0,353a41+100 */
	background: #355258; /* Old browsers */
	background: -moz-linear-gradient(top,  #355258 0%, #353a41 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #355258 0%,#353a41 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #355258 0%,#353a41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355258', endColorstr='#353a41',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px black;
}

.table img {
	max-width: 50px;
}

.table-bordered > tfoot > tr > th {
	border-top-width: 2px;
}

.btn-lv {
	visibility: hidden;
	display: inline-flex;   /* 防止被斷成兩行 */
}

.btn-lv > .btn {
	min-width: 35px;
}

#tearsResult span {
	margin: 0 3px;
}

#tearsAccount {
	display: inline-block;
	width: auto;
	font-size: inherit;
}

#tearsComputeTable tr:hover .btn-lv, 
#tearsComputeTable2 tr:hover .btn-lv {
	visibility: visible;	
}

#tearsComputeTable input[type=number],
#tearsComputeTable2 input[type=number] {
	color: initial;
}

.img-xs {
	width: 30px;
	margin: -5px 5px -5px 0px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#backToTop:hover {
    background: #e9ebec;
}
#backToTop.show {
    opacity: 0.8;
}

#backToTop > i {
	padding: 0;
}

#unitProtraitImage > img,
#unitFullImageTab > img {
	width: 100%;
}

.img-flex {
	display: flex;
}

.img-flex > div > img {
	width: 100%;
}

.item-summary {
	line-height: 30px;
}

.btn-show-item-summary {
	padding: 0;
}

.btn-show-item-summary > i {
	margin-right: 3px;
	padding-left: 0;
}

#lotteryResult {
	padding: 15px;
}

#lotteryHistory {
	max-height: 380px;
	overflow-y: auto;
}

#lotteryHistory > img {
	width: 50px;
	margin: 2px;
}

#enchantTable .img-xs,
#unitAwakeningTable .img-xs,
#abilityTable .img-xs,
#stackTable .img-xs {
	margin: 0 5px 1px 0;
}

#unitListTable img,
#tearsComputeTable img,
#lotteryHistory img,
#skinListTable img {
	border-radius: 16%;
}

#weaponListTable img,
#accessoryListTable img {
	border-radius: 4px;
}

#accessoryImage img,
#weaponImgBlock img {
	border-radius: 10px;
}

#lotteryResult img {
	border-radius: 21px;
}

#unitSelectModal img {
	border-radius: 16%;
	width: 20%;
	padding: 5px;
}

.img-list div {
	margin-bottom: 10px;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

.img-list img {
	max-width: 100%;
}

#weaponExchangeTab img {
	border-radius: 7%;
}

#monsterList img,
#boss1_name img,
#boss2_name img {
	border-radius: 5px;
}

.navbar-brand {
	padding: 5px 10px;
	height: auto;
	font-size: 16px;
	font-weight: bold;
}

.navbar {
	min-height: auto;
}

.navbar-toggle {
	border: 0;
	padding: 8px;
	margin: 0px;
	border-radius: 0;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}

#unitSelectModal .modal-dialog {
    max-height: 90%;
    overflow-y: auto;
}

#unit .img-xs,
#abilityTable .img-xs {
	border-radius: 16%;
}

.nav-tabs > li {
	text-align: center;
}

.nav-tabs.item-5 > li {
	width: 20%;
}

.nav-tabs.item-4 > li {
	width: 25%;
}

.nav-tabs.item-3 > li {
	width: 33%;
}

.nav-tabs.item-3 > li:last-child {
	width: 34%;
}

/* 總合力資料 */
.light {
	color: #ffe066;
	font-weight: bold;
	text-shadow: 1px 1px #665200;
    -webkit-animation: color-change 3s infinite;
    -moz-animation: color-change 3s infinite;
	-ms-animation: color-change 3s infinite;
    -o-animation: color-change 3s infinite;
    animation: color-change 3s infinite;
}

@-webkit-keyframes color-change {
    0% { color: #ffe066; }
	50% { color: white; }
    100% { color: #ffe066; }
}
@-moz-keyframes color-change {
    0% { color: #ffe066; }
	50% { color: white; }
    100% { color: #ffe066; }
}
@-ms-keyframes color-change {
    0% { color: #ffe066; }
	50% { color: white; }
    100% { color: #ffe066; }
}
@-o-keyframes color-change {
    0% { color: #ffe066; }
	50% { color: white; }
    100% { color: #ffe066; }
}
@keyframes color-change {
    0% { color: #ffe066; }
	50% { color: white; }
    100% { color: #ffe066; }
}

#awakenItemTab img {
	border-radius: 8%;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
	text-align: left;
}